/* Basic sample */

body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flipbook-viewport .container{
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:920px !important;
	height:400px;
}

.flipbook-viewport .page{
	width:400px;
	height:400px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	transition: box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}
